*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/doc/*
!Makefile
!README.md
!.gitignore
!init.sh
!/am-kernels/*
/nvboard
/verilator
!/verilator_test/*
/npc_v
/yolo_sim
/fceux-am
/ysyxSoC
/DRAMsim3
/bug-needle
